mat-toolbar {
  height: 100px;
  background-color: #2F4F4F;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  color: #fff;

  .header-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    span {
      font-size: 1rem;
      padding: 0 2rem;
      margin-top: 0.8rem;
    }
  }

  .header-currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    :first-child {
      margin-right: 2rem;
    }
  }

}