<mat-toolbar>
  <div class="container">
    <span class="header-tittle"><h1>Курс валют</h1></span>
    <div class="header-currency">
      <div class="currency">
        <div class="euro">
          <img src="../../../assets/flag-eu.jpg" alt="eu" />
        </div>

        <div class="euro-currency">
          <div class="euro-buy"><span class="buy">Купівля:</span> 38.39</div>
          <div class="euro-sell"><span class="sell">Продаж:</span> 38.39</div>
        </div>
      </div>
      <div class="currency">
        <div class="dollar">
          <img src="../../../assets/flag-usa.jfif" alt="usa" />
        </div>

        <div class="dollar-currency">
          <div class="dollar-buy"><span class="buy">Купівля:</span> 38.39</div>
          <div class="dollar-sell"><span class="sell">Продаж:</span> 38.39</div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
