<div class="converter-container">
  <h2>Конвертер валют</h2>
  <form *ngIf="currencyForm" [formGroup]="currencyForm" class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Введіть суму</mat-label>
      <input
        formControlName="firstInput"
        (input)="directConversion($event)"
        matInput
        type="number"
        [value]="firstInput"
        min="0.1"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Виберіть валюту</mat-label>
      <mat-select formControlName="firstSelect" [(value)]="currency[0]">
        <mat-option [value]="option" *ngFor="let option of currency">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-icon>swap_horiz</mat-icon>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Введіть суму</mat-label>
      <input
        (input)="reversConversion($event)"
        formControlName="secondInput"
        matInput
        type="number"
        [value]="secondInput"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Виберіть валюту</mat-label>
      <mat-select formControlName="secondSelect">
        <mat-option [value]="option" *ngFor="let option of currency">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
