<div class="converter-container">
  <h2>Конвертер валют</h2>
  <form *ngIf="currencyForm" [formGroup]="currencyForm" class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Введіть суму</mat-label>
      <input
        formControlName="firstInput"
        (input)="directConversion()"
        matInput
        type="number"
        min="0.1"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Виберіть валюту</mat-label>
      <mat-select
        (selectionChange)="directConversion()"
        formControlName="firstSelect"
      >
        <mat-option [value]="option" *ngFor="let option of currency">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      (click)="inverseCurrency()"
      class="mat-button"
      mat-button
      color="primary"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Введіть суму</mat-label>
      <input
        (input)="reverseConversion()"
        formControlName="secondInput"
        matInput
        type="number"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Виберіть валюту</mat-label>
      <mat-select
        (selectionChange)="reverseConversion()"
        formControlName="secondSelect"
      >
        <mat-option [value]="option" *ngFor="let option of currency">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
